
/* CSS for Routines */
#nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 4px solid #788b7a
}

#routine-listings {
    width: 100%;
    margin: 10px;
    display: flex;
}

#routine-listing {
    width: 18%;
    margin: 10px;
    border: 4px solid black;
    flex-direction: column;
}
#routine-name {
    font-size: 20px;
}

#routine-goal {
    margin-left: 20px;
}

#routine-username {
    margin-left: 20px;
}
#activity-listing{
    border: 2px solid #a6a6b4
}



/* Login/Register CSS */
#login-form {
    display: flex;
    font-size: 12px;
}


/* MyRoutine CSS */
#myroutine-header{
    display: block;
    width: 200px;
    
    border: 4 px solid rgb(42, 38, 38);
}

#myroutine-title{
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 4 px solid black;
}

#myroutine-options{
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 30px;
    border: 4 px solid black;
    
}

#myroutineinnercard{
    border: 6px solid darkblue;
    border-radius: 6px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
  

}
#deleteeditdiv{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    }
   
#routineactivitydiv {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    width: 300 px;
    border: 2px solid black
    
 

    }

/* Create Routine CSS */

#submitRoutine{
    display: flex;
    
    padding-top: 50px;
    flex-direction: column;
    align-items: left;
    
  
}

#addroutineinputs {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(0, 255, 110);
    flex-direction: column;
    justify-content: space-evenly;
  
    border-radius: 5px;
}

#addRoutineTitle{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background-color:  white;
    width: 200px;
    border-radius: 5px;
}

.SubmitAddButton{
    background-color: rgb(137, 76, 217);
    color: white;
    width: 200px;
    border-radius: 5px;
}

#submitEditedRoutine{
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    flex-direction: column;
    align-items: left;
    
  
}

#addActivityTitle{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background-color:  white;
    width: 200px;
    border-radius: 5px;
}

#submitAddActivity{
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    flex-direction: column;
    align-items: left;

}
#addactivityinputs{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(241, 158, 33);
    flex-direction: column;
    justify-content: space-evenly;
  
    border-radius: 5px;

}

#editroutineinputs {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(241, 158, 33);
    flex-direction: column;
    justify-content: space-evenly;
  
    border-radius: 5px;
}
#editRoutineTitle{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background-color:  white;
    width: 200px;
    border-radius: 5px;
}


.SubmitEditButton {
    background-color: rgb(137, 76, 217);
    color: white;
    width: 200px;
    border-radius: 5px;
}


/* Activities CSS */

#create-activity-form {
    font-size: large;
}