
/* CSS for Routines */
#welcome{
    display: flex;
    font-size: 3rem;
    justify-content: center;

}
#nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 3px solid #788b7a;
    
}
.nav-bar-title{ 
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    width: 350px;
    color: darkblue;
    font-size: 2.7rem;
     --hue: 390;
    -webkit-text-fill-color: rgb(88, 200, 237); 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: hsl(var(--hue), 50%, 55%);
    text-shadow:
      0 0 15px hsl(var(--hue), 60%, 90%, .80),
      0 0 20px hsl(var(--hue), 70%, 80%, .85),
      0 0 40px hsl(var(--hue), 80%, 70%, .90),
      0 0 60px hsl(var(--hue), 90%, 60%, .95),
      0 0 80px hsl(var(--hue), 100%, 50%, 1)
}

#routine-listings {
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 4 px solid black;
}

#routine-listing {border: 6px solid darkblue;
    border-radius: 6px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-top: 20px;
    font-size: large;
}



/* Login/Register CSS */
#login-form {
    display: flex;
    font-size: 12px;
}


/* MyRoutine CSS */
#myroutine-header{
    display: block;
    width: 200px;
    
    border: 4 px solid rgb(42, 38, 38);
}

#myroutine-title{
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 4 px solid black;
}

#myroutine-options{
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 30px;
    border: 4 px solid black;
    
}

#myroutineinnercard{
    border: 6px solid darkblue;
    border-radius: 6px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-top: 20px;
    font-size: large;
  

}
#deleteeditdiv{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    }

#deleteeditradiv{
    display:flex;
    flex-direction: row;
    justify-content:right;
    
}
   
#routineactivitydiv {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
    margin-left: 75px;
    width: 300 px;
    border: 2px solid black;
    border-radius: 5px;
    }

    #innerroutineactivitydiv{
        padding: 10px;
    }

/* Create Routine CSS */

#create-routine-button{
  display: block;
  width: 15%;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #04AA6D;
  padding: 1 px, 10px;
  font-size: 20px;
  color:darkblue;
  text-align: center;
  font-weight: 500;
}

.modifybuttons{
    display: block;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #04AA6D;
  padding: 5px 10px;
  font-size: 15px;
  color:darkblue;
  text-align: center;
  font-weight: bold;
}

.ramodifyrabuttons{
    display: block;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  background-color: lightgrey;
  padding: 5px 10px;
  font-size: 10px;
  color:darkblue;
  text-align: center;
  font-weight: bold;


}

#submitRoutine{
    display: flex;
    
    padding-top: 50px;
    flex-direction: column;
    align-items: left;
    
  
}

#addroutineinputs {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #04AA6D;
    flex-direction: column;
    justify-content: space-evenly;
  
    border-radius: 5px;
}

#addRoutineTitle{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background-color:  white;
    width: 200px;
    border-radius: 5px;
}

.SubmitAddButton{
    background-color: rgb(137, 76, 217);
    color: white;
    width: 200px;
    border-radius: 5px;
}

#submitEditedRoutine{
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    flex-direction: column;
    align-items: left;
    
  
}

#addActivityTitle{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background-color:  white;
    width: 200px;
    border-radius: 5px;
}

#submitAddActivity{
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    flex-direction: column;
    align-items: left;

}
#addactivityinputs{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(241, 158, 33);
    flex-direction: column;
    justify-content: space-evenly;
  
    border-radius: 5px;

}
#editroutinecontainer{
    z-index: 1000;
}
#editroutineinputs {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(241, 158, 33);
    flex-direction: column;
    justify-content: space-evenly;
  
    border-radius: 5px;
    z-index:1000
}
#editRoutineTitle{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background-color:  white;
    width: 200px;
    border-radius: 5px;
    z-index: 1000;
}


.SubmitEditButton {
    background-color: rgb(137, 76, 217);
    color: white;
    width: 200px;
    border-radius: 5px;
    z-index: 1000;
}


/* Activities CSS */

#create-activity-form {
    border: 6px solid darkblue;
    border-radius: 6px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-top: 20px;
    font-size: large;
}

#activity-listing-in-routines {
    
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
    margin-left: 75px;
    width: 300 px;
    border: 2px solid black;
    border-radius: 5px;
}

#activity-listing {
    
    border: 6px solid darkblue;
    border-radius: 6px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-top: 20px;
    font-size: large;
}